
body{
	background-color: white;
	margin: 0px;
	padding: 0px;
	font-family: Verdana;
}

h1{
	margin: auto;
	text-align: center;
	color: white;
	font-size: 12vw;
}

h2{
	text-align: left;
	color: lightgrey;
}

p{
	color: grey;
	font-size: small;
	padding: 0px 20px 0px 20px;
}

div, p{
	text-align: center;
	margin: auto;
	padding: 10px;
}

#scroll a span {
	position: absolute;
	top: 80%;
	left: 50%;
	width: 46px;
	height: 46px;
	margin-left: -23px;
	border: 1px solid #fff;
	border-radius: 100%;
	box-sizing: border-box;
}

#scroll a span::after {
	position: absolute;
	top: 50%;
	left: 50%;
	content: '';
	width: 16px;
	height: 16px;
	margin: -12px 0 0 -8px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-sizing: border-box;
}

input{
	margin-right: 10px;
	width : 200px;
	height: 25px;
}

button{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 5px;
	margin-left: 5px;
	width : 270px;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	background-color: grey;
	color: white;
	font-size: 15px;
}

button:hover{
	background-color: white;
	border-style: solid;
	border-width: 1px;
	color : grey;
	cursor: hand;
}

.buttonAdd{
	font-size: 10px;
	width: 25px;
	height: 25px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-radius: 50%;
	background-color: #4CAF50;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.buttonAdd:hover{
	background-color: white;
    color: grey;
    border: solid;
    border-color: #4CAF50;
}

.buttonDelete{
	font-size: 10px;
	width: 25px;
	height: 25px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-radius: 50%;
	background-color: #f44336;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.buttonDelete:hover{
	background-color: white;
    color: grey;
    border: solid;
    border-color: #f44336;	
}

.buttonAfterResult{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 5px;
	margin-left: 5px;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	color: white;
	font-size: 15px;
	background-color: rgba(0,0,0,0);
	width : 270px;
}

hr{
	color: rgba(0, 0, 0, 20);
}

.onePageTitle{
	display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(102, 165, 164);
    
}

.onePageChoice{
	background-color: white;
	min-height: 100vh;
}

.onePageResult{
	background-color: rgb(102, 165, 164);
	min-height: 100vh;
}

.nav{
	background-color: white;
}

.theresultis{
	margin-top: 50px;
	font-size: 5vw;
	text-decoration: underline;
}

#result{
	margin-top: 25vh;
	color: white;
	font-size: 12vw;
	font-style: bold;
}

#about{
	color: lightgrey;
}

.infoBox {
	z-index: 10;
	min-height: 100vh;
	min-width: 100vw;
	position: fixed;
	background-color: lightgrey;
	color :grey;
	visibility: hidden;
}

.fixed{
	font-size: 12px;
    position: fixed;
    bottom: 0px;
    right: 0px;
}